<div class="partial nav">
    <a href="/">Home</a></br>
    <a href="/registration">Registration</a></br>
    <a href="/login">LogIn</a></br>
    <a href="/profile">Profile</a></br>
    <a href="/petition">Sign the Petition</a></br>
    <a href="/thanks">Thanks</a></br>
    <a href="/participants">Participants</a></br>
    <a href="/editProfile">Edit your Profile</a></br>
    <a href="/logout">Ciao!</a>
</div>
