<div class="nav">
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/petition">Sign the Petition</a>
    <a href="/thanks">Thanks</a>
    <a href="/participants">Participants</a>
    <a href="/editProfile">Edit your Profile</a>
{{#if logged}}
    <a href="/logout">Cheers mate!</a>
{{else}}
    <a href="/registration">Registration</a>
    <a href="/login">LogIn</a>
{{/if}}
</div>
