<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/stylesheet.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        {{> nav }}

        {{{ body }}}

        {{#if errorFlag}}
            {{> error }}
        {{/if}}

    </body>
</html>
