<form method="post">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="homepage" placeholder="Homepage">
    <input name="_csrf" type="hidden" value="{{ csrfToken }}">
    <button id="continue" type="submit">Continue</button>
</form>
