<div class="home">

    <div class="home-content">
        <h1>Why beers on friday only?</h1>
        <p>Did you ever thought about having a nice cold beer during the week,
            doing your coding at SPICED?</p>
            
        <p>Recently published studies by a scientific researchers group at Bavarian
        Beer and Coding University (BBC) shows the positive impact of drinking on
        a persons overall programming skills. Therefore, this petition calls for a lift
        of the "friday only" beer regulation at SPICED Academy to enhance students
        abilities to code during the week!</p>
    </div>

    <div class="home-picture">
        <img src="./programming-alcohol-chart.jpg" alt="">
    </div>

</div>
