<form method="post">
    <input type="text" name="emailaddress" placeholder="emailaddress">
    <input type="password" name="password" placeholder="password">
    <input name="_csrf" type="hidden" value="{{ csrfToken }}">
    <button id="login" type="submit">Log In</button>
</form>

<p id="errormessage">{{ err }}</p>
