<div class="petition">

    <div class="petition-canvas">
        <canvas id="canvas" width="500" height="100" style="border: 1px red solid"></canvas>

        <button id="clear" type="button" name="button">Clear</button>
    </div>

    <form class="petition-form" method="post">
        <input id="hidden-input" name="signature" type="hidden">
        <input name="_csrf" type="hidden" value="{{ csrfToken }}">

        <div id="petition-submit">
            <button id="submit" type="submit">Submit</button>
        </div>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js" charset="utf-8"></script>
