<form method="post">
    <input type="text" name="firstname" placeholder="Firstname">
    <input type="text" name="lastname" placeholder="Lastname">
    <input type="text" name="emailaddress" placeholder="Emailaddress">
    <input type="password" name="password" placeholder="Password">
    <input name="_csrf" type="hidden" value="{{ csrfToken }}">
    <button id="register" type="submit">Register</button>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js" charset="utf-8"></script>
