<div class="view thanks">
    <h1>Thank you for signing the petition!</h1>
</div>

<img src="{{ signature }}">

<form method="post" action="/delete-signature">
    <button>Delete your signature!</button>
    <input name="_csrf" type="hidden" value="{{ csrfToken }}">
</form>

<a href="/participants">Take a look on who participated in this petition..</a>
