<div class="thanks">
    <h1>Thank you for signing the petition!</h1>

    <img id="signature" src="{{ signature }}">

    <form id="thanks-form" method="post">
        <input name="_csrf" type="hidden" value="{{ csrfToken }}">
        <button id="submit">Delete your signature!</button>
    </form>

</div>

<a id="participants" href="/participants">Take a look on who participated in this petition..</a>
